<!-- index.html.erb -->

<div class="container">
    <div class="col-md-5">

		<h1>Tags</h1>

		<ul>
		  <% @all_tags.each do |tag| %>
		  <li><a href="/tags/<%=tag.id%>"><%=tag.name%></a></li>
		  <% end %>
		</ul>


    </div>

  <div class="col-md-7">
          <%= image_tag "Simpsons_FamilyPicture.png" %>
  </div>

</div>
